BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
BraceWrapping:
  AfterFunction: false
  AfterClass: false
  AfterControlStatement: false
  AfterNamespace: false
  BeforeCatch: false
  BeforeElse: false
  IndentBraces: false